<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.ferit.kslovic.petsmissingorfound">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgNwC1WH3IqOffqpZVt92pkkg2qRWzla8" />

        <activity android:name=".Activities.Register" />
        <activity android:name=".Activities.Welcome"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.ReportPet"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.MyPetsList"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.AllPetsList"
        android:theme="@style/BaseTheme"/>
        <activity android:name=".Activities.PetMap"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.PetDetails"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.ImageSwitch"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".Activities.ChatActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".Activities.InboxActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.ProfileActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.AdminActivity"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.UserList"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Activities.MenuActivity"
            android:theme="@style/BaseTheme" ></activity>
    </application>

</manifest>